secrets.yaml
packages/influxdb.yaml
*.log
*.xml
*.db
*.sqlite
*.csv
*.txt
.omv_cookies.json
.storage/
.cloud/
known_devices.yaml
image/
o365_storage/
html5_push_registrations.conf
zigbee*
*.log.1
*.log.fault
tts/
www/alexa_tts/
ps52mqtt/
.ssh/
custom_components/
addons_config/
addons_autoscripts/
.vscode/
.history/

double-take/.auth
/double-take/.auth