<?xml version="1.0" encoding="UTF-8"?>
<config>
  <header>
    <header_item key="X-BBL-Client-Type" value="slicer"/>
    <header_item key="X-BBL-Client-Version" value="02.04.00.70"/>
  </header>
  <plate>
    <metadata key="index" value="1"/>
    <metadata key="extruder_type" value="0"/>
    <metadata key="nozzle_volume_type" value="0"/>
    <metadata key="printer_model_id" value="N2S"/>
    <metadata key="nozzle_diameters" value="0.4"/>
    <metadata key="timelapse_type" value="0"/>
    <metadata key="prediction" value="20066"/>
    <metadata key="weight" value="199.26"/>
    <metadata key="first_layer_time" value="228,785736"/>
    <metadata key="outside" value="false"/>
    <metadata key="support_used" value="false"/>
    <metadata key="label_object_enabled" value="false"/>
    <metadata key="filament_maps" value="1"/>
    <metadata key="limit_filament_maps" value="0"/>
    <object identify_id="160" name="toaletak drzak v2" skipped="false" />
    <filament id="1" tray_info_idx="GFL99" type="PLA" color="#FF0000" used_m="66.81" used_g="199.26" group_id="0" nozzle_diameter="0.40" volume_type="Standard"/>
    <warning msg="bed_temperature_too_high_than_filament" level="3" error_code ="1000C001"  />
    <layer_filament_lists>
      <layer_filament_list filament_list="0" layer_ranges="0 349" />
    </layer_filament_lists>
  </plate>
</config>
