---
api_version: 2
ssl: true  # HTTPS enabled for secure communication. Ensure InfluxDB server accepts SSL on port 8086 or use 8087 for HTTPS
host: 10.182.1.222
port: 8086
organization: !secret influxdb_org_id
bucket: homeassistant
token: !secret influxdb_token
default_measurement: state
tags:
  source: HA
tags_attributes:
  - friendly_name
ignore_attributes: !include ignore_attributes.yaml
include: !include includes.yaml
exclude: !include excludes.yaml
